<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEntityManagerFacade" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:82/Soap/Wcf/EntityManagerServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityManagerFacade"
                contract="GestionNovedadesClient.IEntityManagerFacade" name="BasicHttpBinding_IEntityManagerFacade" />
        </client>
    </system.serviceModel>
</configuration>